.c-card {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 863px) {
    flex-direction: column;
  }

  img {
    transition: transform .3s ease-in-out;
  }

  &:hover {
    img {
      transform: scale(1.05)
    }
  }
}